.ui-keyboard.ui-widget-content.ui-widget.ui-corner-all.ui-helper-clearfix.ui-keyboard-has-focus{
    background: #ffffff!important;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
    border-top-left-radius: 0px!important;

}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
    border-top-right-radius: 10px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
    border-bottom-left-radius: 10px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}

.ui-widget-content{
    background:#FFFFFF;
    border: 1px solid #CCCCCC;
    color: #767676;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border:none;
    background:none;
    background-color:#B9B8B8;

}
.ui-state-default:hover{
    background-color:#717172;
}

.ui-keyboard-enter, .ui-keyboard-accept, .ui-keyboard-cancel{
    background-color:#0096D6!important;
}
.ui-keyboard-enter:hover, .ui-keyboard-accept:hover, .ui-keyboard-cancel:hover{
    background-color:#006699!important;
}

.ui-keyboard-button { 
    height: auto; 
    line-height: 2; 
    color: #ffffff;
}

.ui-widget button{
    font-size: 1.5em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #ffffff;
}