<?php 
	//$categoryIds = array_filter(array_values(Mage::getModel('catalog/session')->getCatArraySession()));
	
	$categoryIds = Mage::registry('selectedarr');
	 
	$finalArray = '';
	 
	if(is_array($categoryIds) && count($categoryIds)>0){
		foreach($categoryIds as $categoryIdsV ){
			if($categoryIdsV !='' && $categoryIdsV > 0 ){
				$finalArray[]['finset']=$categoryIdsV;
			}
		}
	}
	$allChildCatIds = explode(',',$this->getPost());
	if( is_array($finalArray) && count($finalArray)>0 ){	
		
	
		$collection = Mage::getModel('catalog/product')
					 ->getCollection()
					 ->joinField('category_id', 'catalog/category_product', 'category_id', 'product_id = entity_id', null, 'left')
					 ->addAttributeToSelect('*');
		$collection->getSelect()->group('e.entity_id');
		 
		 
		if(!empty($categoryIds)){
			if(is_array($finalArray) && count($finalArray)>0){
				 
				$collection->addAttributeToFilter('category_id', array($finalArray));
			}else{
				$collection->addAttributeToFilter('category_id', array('in' => $allChildCatIds));
			}
		}else{
			$collection->addAttributeToFilter('category_id', array('in' => $allChildCatIds));
		}		
	}else{		
		$collection = Mage::getModel('catalog/product')->getCollection();
	}
	
	 
?>

<?php if(!$collection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products.') ?></p>
<?php else: ?>
<!--<div class="category-products">-->
<div class="select-printer">
    <div class="row">
        <?php
            $i = 1;
            foreach ($collection as $product):
                $_product = Mage::getModel('catalog/product')->load($product->getId());
                $cats = $_product->getCategoryIds();
                $countCat = is_array($finalArray)?count($finalArray):0;
                 
                if($countCat > 0){
					$counter = 0;	
					foreach($categoryIds as $v){
						if(in_array($v,$cats)){
							$counter++;
						}	
					}	
					if($counter != $countCat){
						continue;
					}
				}
				 
				 
				 
                 
                
        ?> 
        <div class="col-md-4 col-sm-6">
            <div class="printer-info-box">
                <div class="checkbox-label">
                    <input type="checkbox" id="printer<?php echo $i; ?>" />
                    <label for="printer<?php echo $i; ?>">
                        <div class="printer-img">
                            <!--<img src="<?php /*echo $this->getSkinUrl('images/printer1.jpg') */?>" alt="">-->
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                <?php $_imgSize = 210; ?>
                                <img id="product-collection-image-<?php echo $_product->getId(); ?>"

                                     src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                     alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                            </a>
                        </div>
                        <div class="printer-name">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->stripTags($_product->getName(), null, true) ?></a>                            
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <?php
            $i++;
            endforeach;
        ?>
    </div>
</div>
<!--</div>-->
<?php endif; ?>
