<?php

//Search Product Collection
$term = Mage::helper('catalogsearch')->getQueryText();
$query = Mage::getModel('catalogsearch/query')->setQueryText($term)->prepare();
$fulltextResource = Mage::getResourceModel('catalogsearch/fulltext')->prepareResult(
        Mage::getModel('catalogsearch/fulltext'), $term, $query
);

$collection = Mage::getResourceModel('catalog/product_collection');
$collection->setOrder('price','ASC');
$collection->getSelect()->joinInner(
        array('search_result' => $collection->getTable('catalogsearch/result')), $collection->getConnection()->quoteInto(
                'search_result.product_id=e.entity_id AND search_result.query_id=?', $query->getId()
        ), array('relevance' => 'relevance')
);
?>

<?php


//    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if(!$collection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<!--<div class="category-products">-->
<div class="select-printer">
    <div class="row">
    <div class="cold-md-12">
        <div class="printer-heading">Destacadas</div>
    </div>
        <?php
            $i = 1;
            foreach ($collection as $product):
                $_product = Mage::getModel('catalog/product')->load($product->getId());
        ?>

        <div class="col-md-4 col-sm-6">
            <div class="printer-info-box">
                <div class="printer-head">
                    <?php
                    $categoryIds = $_product->getCategoryIds();

                    if(count($categoryIds) ){
                        $firstCategoryId = $categoryIds[0];
                        $_category = Mage::getModel('catalog/category')->load($firstCategoryId);

                        echo $_category->getName();
                    }
                    ?>
                </div>
                <div class="checkbox-label">
                    <input type="checkbox" id="printer<?php echo $i; ?>" />
                    <label for="printer<?php echo $i; ?>">
                        <div class="printer-img">
                            <!--<img src="<?php /*echo $this->getSkinUrl('images/printer1.jpg') */?>" alt="">-->
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                <?php $_imgSize = 210; ?>
                                <img id="product-collection-image-<?php echo $_product->getId(); ?>"

                                     src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                     alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                            </a>
                        </div>
                        <div class="printer-name">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->stripTags($_product->getName(), null, true) ?></a>                            
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <?php
            $i++;
            endforeach;
        ?>
    </div>
</div>
<!--</div>-->
<?php endif; ?>
<?php
// Provides a block where additional page components may be attached, primarily good for in-page JavaScript
if ($this->getChild('after')) {
    $_afterChildren = $this->getChild('after')->getSortedChildren();
    foreach ($_afterChildren as $_afterChildName) {
        $_afterChild = $this->getChild('after')->getChild($_afterChildName);
        //set product collection on after blocks
        $_afterChild->setProductCollection($_productCollection);
        echo $_afterChild->toHtml();
    }
}
?>
