<?php 

$collection = Mage::getModel('seasia_beacon/beacon')->getCollection();
$collection->getSelect()
->reset(Zend_Db_Select::COLUMNS)
->columns('entity_id as beacon_id')
->columns('name as beacon_name');
$collection->addFieldToFilter('status', array('eq'=>'1'));
$beacons = $collection->getData();


 ?>
<div class="box simple_contact">
	<form id="beacon_settings_form" name="beacon_settings_form" action="" enctype="multipart/form-data" method="post">
		<input type="hidden" name="form_key"  value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
		<fieldset class="group-select">
			<h4 class="legend">ASSIGN PROMOCODE TO BEACON</h4>
			<ul>
				<li>
				<!--  
					<div class="input-box" style="padding:5px;">
						<label for="customers">Coupon <span class="required">*</span></label>
						<select style="width:129px;margin-left: 35px;" id="vendor" name="vendor"  title="Vendor"  class="required-entry" onchange="return getSettings(this);">
							
<?php
//foreach($beacons as $cd)
//{
?>			
							<option value="<?php //echo $cd['value']; ?>"><?php //echo $cd['label']; ?></option>
<?php //}?>							
						</select>
						
					</div>
					-->
					<div class="input-box" style="padding:5px;">
						<label for="subject">Select Beacon <span class="required">*</span></label>
						<select style="width:129px;margin-left: 35px;" id="beacon" name="beacon" title="Range" class="required-entry">
							<option value="">Select Beacon</option>
<?php
foreach($beacons as $bc)
{
?>								
							<option value=<?php echo $bc['beacon_id']; ?>><?php echo $bc['beacon_name']; ?></option>
							
<?php }?>							
						</select>
					</div>
					<div class="clear"></div>
					<div class="input-box" style="padding:5px;">
						<label for="refresh_rate">Message<span class="required">*</span></label>
						<input style="width:10%" name="message" id="message" title="Message" value="" class="required-entry input-text" type="text" />
					</div>
					<div class="input-box" style="padding:5px;">
						<label for="refresh_rate">Upload Image<span class="required">*</span></label>
						<input  name="promo_image" id="promo_image" title="Image" value="" class="required-entry input-text" type="file" />
					</div>
				</li>
			</ul>
		</fieldset>
		<div class="button-set">
			<p class="required">* Required Fields</p>
			<button class="form-button" type="submit"><span>Submit</span></button>	
		</div>
	</form>
</div>


