<?php
 
$categoryIds = explode(',',$this->getData('category_ids'));

$allChildCatIds = explode(',',$this->getData('all_child_cat_ids'));

?>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="select-menu-box">
                    <div class="menu-box-title mar-top-bot cateslide-1 showslide">¿En dónde utilizarás tu impresora?</div>
                    <div class="select-menu-t mar-top-bot cateslide-1 showslide">Selecciona una opción</div>
                    
                    <div class="menu-box-title mar-top-bot cateslide-2 showslide">¿Cuántas personas utilizarán la impresora? 
</div>
                    <div class="select-menu-t mar-top-bot cateslide-2 showslide">Selecciona una opción</div>
                    
                    <div class="menu-box-title mar-top-bot cateslide-3 showslide">Te gustaría que tu impresora:</div>
                    <div class="select-menu-t mar-top-bot cateslide-3 showslide">Selecciona una opción</div>
                    
                    <div class="menu-box-title mar-top-bot cateslide-4 showslide">¿Aproximadamente cuántas impresiones haces mensualmente? </div>
                    <div class="select-menu-t mar-top-bot cateslide-4 showslide">Selecciona una opción</div>
                    
                    
                    
                    <div class="menu-blocks">
                        <div class="row">
                            <?php if (count($categoryIds) > 0) : 

?>
							<div class="slider home-slider">
									<?php $ctcolor = 1; 
										foreach($categoryIds as $categoryId): ?>
									<div class="container_<?php echo $categoryId; ?>">
										<?php
											$childrensCategory = Mage::getModel('catalog/category')->getCategories($categoryId);
											foreach($childrensCategory as $category):
											$categoryData = Mage::getModel('catalog/category')->load($category->getEntityId());
										?>
											<div class="col-sm-3 col-xs-6 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">

											 <div class="comdiv" cat_id="<?php echo $category->getEntityId(); ?>" cont_cat_id="<?php echo $categoryId; ?>"  data-colorno="<?php echo $ctcolor; ?>" >

												<div class="m-menu-box">
													<div class="m-menu-img colorbg-<?php echo $ctcolor; ?>" >
														<img src="<?php echo $categoryData->getImageUrl()?>"  />
													</div>
												</div>
												<?php
												$customStyleCount = strlen($this->escapeHtml($categoryData->getName()));
												$customStyle = '';
												if($customStyleCount < 28){
													$customStyle = 'style="padding:13px;"';
												}
												?>
												
                                            </div>

											</div>
											<?php 
											$ctcolor++; 
											endforeach; 
?>
									</div>
									<?php endforeach; ?>
							</div>
                            <?php endif;

?>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<div id="products_list">
	<?php //Mage::getModel('catalog/session')->unsCatArraySession(); ?>
	<?php if (count($categoryIds) > 0) : 
		//$allChildCatIds = explode(',',$this->getData('all_child_cat_ids'));
		 
		$collection = Mage::getModel('catalog/product')->getCollection();
	?>
		<?php if(!$collection->count()): ?>
			<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
		<?php else: ?>
		<!--<div class="category-products">-->
		<!--<div class="select-printer">
			<div class="row">
				<?php
					$i = 1;
					foreach ($collection as $product):
						$_product = Mage::getModel('catalog/product')->load($product->getId());
				?>
				<div class="col-md-4 col-sm-6">
					<div class="printer-info-box">
						<div class="checkbox-label">
							<input type="checkbox" id="printer<?php echo $i; ?>" />
							<label for="printer<?php echo $i; ?>">
								<div class="printer-img">
									 
									<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
										<?php $_imgSize = 210; ?>
										<img id="product-collection-image-<?php echo $_product->getId(); ?>"

											 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
											 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
									</a>
								</div>
								<div class="printer-name">
									<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->stripTags($_product->getName(), null, true) ?></a>                            
								</div>
							</label>
						</div>
					</div>
				</div>
				<?php
					$i++;
					endforeach;
				?>
			</div>
		</div>-->
		<!--</div>-->
		<?php endif; ?>
	<?php endif; 
?>
</div>
 
<script>
		$(document).ready(function(){
			/**************home Slider*****************/
			 /* $(".home-slider").owlCarousel({
					loop:false,
					nav:true,
					navText: [ '<img src="<?php echo $this->getSkinUrl('images/back.png')?>">', '<img src="<?php echo $this->getSkinUrl('images/next.png')?>">' ],
					responsive:{
						0:{
							items:1
						},
						600:{
							items:1
						},            
						960:{
							items:1
						},
						1200:{
							items:1
						}
					} 
					  
			 }); */

			/* $(".home-slider").on('changed.owl.carousel', function(event) {
		        var currentItem = event.item.index;
		        $('.showslide').hide();
		        $('.cateslide-'+(currentItem+1)).show();
		         
		    });
			$('.showslide').hide();
	        $('.cateslide-1').show(); */
			 //Start
			
			 //End


        /*
		 $(".comdiv").hover(
	        // Called on mouseenter
	        function () {
	            $(this).find(".m-menu-img").show();
	            var className = $('.myclass').attr('class');

	        },
	        // Called on mouseleave
	        function () {
	            //$(this).find(".m-menu-img").hide();
	        }
    	);
    	*/
			 
			 
	 });
	 $(".comdiv").on('click',function(){
			
			var continerCatId = $(this).attr('cont_cat_id');
            var allChildCatIds = '<?php echo $this->getData('all_child_cat_ids'); ?>';
			if(jQuery(this).hasClass("active")){
				var categoryId = '';
				$(this).removeClass('active');
				var categoryId = $(this).attr('cat_id');
				$('.home-slider .container_'+continerCatId+' .comdiv').removeClass('active');
				$('.home-slider .container_'+continerCatId+' .comdiv').each(function( index ) {
					//$('.colorbg-'+$(this).attr('data-colorno')).removeClass('colorbg-'+$(this).attr('data-colorno')+'-active');
				}); 
				
			}else{
				console.log('not have active' +continerCatId);
				var categoryId = $(this).attr('cat_id');
				$('.home-slider .container_'+continerCatId+' .comdiv').removeClass('active');
				$('.home-slider .container_'+continerCatId+' .comdiv').each(function( index ) {
					$('.colorbg-'+$(this).attr('data-colorno')).removeClass('colorbg-'+$(this).attr('data-colorno')+'-active');
				});
				  
				
				$(this).parent().addClass('colorbg-'+$(this).attr('data-colorno')+'-active');
				$('.colorbg-'+$(this).attr('data-colorno')).addClass('colorbg-'+$(this).attr('data-colorno')+'-active');
				
				$(this).addClass('active');
			}
			
			$allactiveID = [];
			$(".comdiv").each(function() {
				if(jQuery(this).hasClass("active")){
					$allactiveID.push($(this).attr('cat_id'));
				}
			});
			console.log($allactiveID);
			var url = '<?php echo $this->getUrl('categoryslider/index/index') ?>category_id/' + categoryId + '/main_cat_id/'+ continerCatId+'/all_child_cat/'+allChildCatIds+'/selectedarr/'+$allactiveID;
			// $(this).toggleClass('active');
			new Ajax.Request(
				  url, {
					method: 'GET',
					onSuccess: function(transport) {
						json = transport.responseText;
						$('#products_list').html(json);
						var owl = $(".home-slider").data('owlCarousel');
						owl.next();
						
					  }
				  }
			);
        });




   

	 
</script>

                        
