<?php 
$productIds = $this->getProductautosearch();
$productObj = Mage::getModel('catalog/product');
?>
<ul class="product_autosearch">
<?php
foreach($productIds as $productId){
	$eachProductArray = array();
	$productData = $productObj->load($productId);
	$imgSrc = Mage::helper('catalog/image')->init($productData, 'thumbnail')->resize(60);
	$productName = $productData->getName();
	$productPath = Mage::getBaseUrl() . $productData->getUrlPath(); 
?>
<li>
<img src="<?php echo $imgSrc ?>" alt="<?php echo $productName ?>" />
<a href="<?php echo $productPath ?>"><?php echo $productName ?></a>
</li>
			
<?php } ?>
</ul>