<div class="header wow slideInDown">
	
	
    <div class="logo"><a href="<?php echo Mage::getBaseUrl(); ?>" alt="Hp"><img src="<?php echo $this->getSkinUrl('images/logo.png') ?>" alt="HP"></a></div>
 
    
    <div class="container">
        <?php echo $this->getChildHtml('topSearch') ?>
    </div>
</div>
<script type="text/javascript">
	function idleLogout() {
		var t;
		window.onload = resetTimer;
		window.onmousemove = resetTimer;
		window.onmousedown = resetTimer; // catches touchscreen presses
		window.onclick = resetTimer;     // catches touchpad clicks
		window.onscroll = resetTimer;    // catches scrolling with arrow keys
		window.onkeypress = resetTimer;

		function logout() {
			//alert('Page is redirected !!!');
			//window.location.href = 'http://hp.geotrak.co/';
		}

		function resetTimer() {
			clearTimeout(t);
			t = setTimeout(logout, 60000);  // time is in milliseconds
			//t = setTimeout(logout, 300000);  // for 5 mins time is in milliseconds
		}
	}
	idleLogout();
</script>
